@import '../../../styles/global.scss';

.root {

  .allBorders {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }

  .borderBottom {
    border-bottom: 1px solid black;
  }

  .image {
    height: 400px;
    object-fit: cover;
  }

  .buy {
    .submitBtn {
      width: 100%;
    }

    .quantityInput {
      text-align: center;
    }
  }

  .salePrice {
    .oldPrice {
      color: red;
      text-decoration: line-through;
      padding-left: 0 !important;
      margin-left: 0 !important;
    }

    .newPrice {
      color: green;
    }
  }

}
